<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">

    <listeners>
        <listener class-name="com.orangehrm.web.listeners.CustomListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="TestSuite">
        <classes>
            <class name="com.orangehrm.web.testcases.Login.ValidateLoginFunctionality"/>
        </classes>
    </test>
</suite>
